@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}
*::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
h3{
    font-weight: 600;
}
button{
    border:none;
    outline: none;
}


@mixin flexbox($jc:center,$ac:center) {
    display: flex;
    align-items: $ac;
    justify-content: $jc;
}
@mixin grid($gg:10px,$gc:1fr 1fr,$gr:1fr 1fr) {
    display: grid;
    grid-gap: $gg;
    grid-template-columns: $gc;
    grid-template-rows: $gr;
}

